{% extends 'BWSkeletonBundle:Frontend:layout.html.twig' %}

{% block title %}Корзина{% endblock %}

{% block content -%}
    <div class="breadcrumbs root">
        <div class="col-xs-1-1">
            <a href="{{ path('home') }}">Главная</a>
            <span class="separator">&gt;</span>
            <span>Корзина</span>
        </div>
    </div>

    <div class="product-category-page root row">
        <div class="product-filter col">
            {{ bw_cart_widget() }}
        </div>
        <div class="product-category products-list items-list page-content row">
            <div class="col">
                <h1><i class="icon-shopping-cart"></i> Корзина</h1>
                {% include 'BWShopBundle:Cart:form-checkout.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
