{% extends 'BWSkeletonBundle:Frontend:layout.html.twig' %}

{% block title %}Список всех товаров {{ parent() }}{% endblock %}

{% block content -%}
    <div class="breadcrumbs root">
        <div class="col-xs-1-1">
            <a href="#">Главная</a>
            <span class="separator">&gt;</span>
            <a href="#">Волосы</a>
            <span class="separator">&gt;</span>
            <span>Волосы на заколках</span>
        </div>
    </div>

    <div class="product-category-page root row">
        <div class="product-filter col">
            {{ form(form) }}
        </div>
        <div class="product-category products-list page-content row">
            <div class="col">
                <h1><i class="icon-list"></i> Все товары</h1>
                <div class="row level-row">
                    <div class="sort-condition col">
                        Сортировать по: 
                    </div>

                    <div class="products-count col-r">
                        Всего товаров: {{ entities|length }}
                    </div>
                </div>
                <div class="products-list row level-row">
                    {% for entity in entities %}
                        {% include 'BWShopBundle:Product:row.html.twig' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
