<div>
    {% if service('bw_user.social').vkontakte %}
        <a href="{{ path('user_vkontakte_sign_in') }}" title="Авторизироваться через аккаунт ВКонтакте" rel="nofollow" class="vk-button">
            Авторизироваться через аккаунт ВКонтакте
        </a>
    {% endif %}
    {% if service('bw_user.social').facebook %}
        <a href="{{ path('user_facebook_sign_in') }}" title="Авторизироваться через Facebook аккаунт" rel="nofollow" class="fb-button">
            Авторизироваться через Facebook аккаунт
        </a>
    {% endif %}
    {% if service('bw_user.social').googleClient %}
        <a href="{{ path('user_google_sign_in') }}" title="Авторизироваться через Google аккаунт" rel="nofollow" class="google-button">
            Авторизироваться через Google аккаунт
        </a>
    {% endif %}
</div>