{% if entities %}
    <div class="h1 line-header"><span>Рекомендуемые товары</span></div>

    <div class="carousel product-carousel">
        <div class="carousel-wrap">
            <div class="carousel-inner">
                {% for entity in entities %}
                    {% include 'BWShopBundle:Product:widget-row-block.html.twig' %}
                {% endfor %}
            </div>
        </div>
        <div class="carousel-back back"></div>
        <div class="carousel-forward forward"></div>
    </div>
{% endif %}
